#one, #two, #three, #four, #five, #six, #seven, #eight  {
    float: right;
} 

.card, .container {

    float: left;
}


nav {
    border: white
}

.myList, ul, li {
    list-style-type: none
}

ul {
    float: left,
    list-style type: none
}


